@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.contact-sec {
  width: 100%;
  height: 590px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center; }

.consec-box {
  width: 80%;
  height: 400px;
  border: solid 2px black;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  margin-top: 30px; }

.con-form {
  display: -webkit-box;
  display: flex;
  width: 70%;
  -webkit-box-pack: center;
          justify-content: center;
  margin: 10px 0 10px 0; }

.con-form p {
  font-family: serif; }

.con-left {
  width: 15%; }

.form {
  width: 100%; }

.con-right {
  width: 50%;
  margin-left: 50px; }

.consub {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 30%; }

@media screen and (max-width: 800px) {
  .consec-box {
    width: 90%;
    height: 400px;
    border: solid 2px black;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center;
    margin-top: 30px; }
  .con-left {
    width: 50%; }
  .quest {
    width: 100%; } }

footer {
  width: 100%;
  height: 230px;
  background-color: lightgray; }

.footer-top {
  width: 100%;
  height: 200px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center; }

.ft-left {
  width: 27%;
  height: 150px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center; }

.ftl-box {
  width: 100%;
  height: 100px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  justify-content: space-around;
  -webkit-box-align: center;
          align-items: center; }

.ftl-box h1 {
  font-size: 20px;
  font-family: serif;
  font-weight: bold;
  margin-bottom: 20px;
  -webkit-text-decoration: underline red;
          text-decoration: underline red; }

.ftl-box p {
  font-family: serif;
  margin: 5px 0 5px 0; }

.ftl-box p:hover {
  cursor: pointer;
  color: red; }

.ftl-box p:visited {
  color: black; }

.ftl-box a {
  text-decoration: none; }

.ftl-box a:hover {
  color: red; }

.ftl-box a:visited {
  color: black; }

.ft-middle {
  width: 10%;
  height: 150px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center; }

.ft-forth {
  width: 23%;
  height: 150px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center; }

.ft-right {
  width: 10%;
  height: 155px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: center;
          align-items: center; }

.scroll {
  width: 5%;
  height: 150px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: end;
          align-items: flex-end; }

.scroll:hover {
  color: red; }

.footer-bottom {
  width: 100%;
  height: 30px;
  text-align: center;
  font-family: serif;
  border-top: solid 2px white;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center; }

header {
  width: 100%;
  height: 70px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  text-align: center;
  background-color: rgba(0, 0, 10, 0);
  position: fixed; }

header a {
  text-decoration: none; }

header h1 {
  color: red;
  font-size: 40px;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif; }

header p {
  color: gray;
  font-family: serif;
  font-size: 15px; }

.global-nav {
  position: fixed;
  right: -320px;
  /* これで隠れる */
  top: 0;
  width: 300px;
  /* スマホに収まるくらい */
  height: 100vh;
  padding-top: 40px;
  background-color: #c9c3c3;
  -webkit-transition: all .6s;
  transition: all .6s;
  z-index: 200;
  overflow-y: auto;
  /* メニューが多くなったらスクロールできるように */ }

.hamburger {
  position: absolute;
  right: 0;
  top: 0;
  width: 40px;
  /* クリックしやすいようにちゃんと幅を指定する */
  height: 40px;
  /* クリックしやすいようにちゃんと高さを指定する */
  cursor: pointer;
  z-index: 300;
  display: none; }

.global-nav__list {
  margin: 0;
  padding: 0;
  list-style: none; }

.global-nav__item {
  text-align: center;
  padding: 0 14px; }

.global-nav__item a {
  display: block;
  padding: 8px 0;
  border-bottom: 1px solid #eee;
  text-decoration: none;
  color: #111; }

.global-nav__item a:hover {
  background-color: #a39d9d; }

.hamburger__line {
  position: absolute;
  left: 11px;
  width: 18px;
  height: 1px;
  background-color: #111;
  -webkit-transition: all .6s;
  transition: all .6s; }

.hamburger__line--1 {
  top: 14px; }

.hamburger__line--2 {
  top: 20px; }

.hamburger__line--3 {
  top: 26px; }

.black-bg {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  background-color: #000;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .6s;
  transition: all .6s;
  cursor: pointer; }

/* 表示された時用のCSS */
.nav-open .global-nav {
  right: 0; }

.nav-open .black-bg {
  opacity: .8;
  visibility: visible; }

.nav-open .hamburger__line--1 {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 20px; }

.nav-open .hamburger__line--2 {
  width: 0;
  left: 50%; }

.nav-open .hamburger__line--3 {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 20px; }

@media screen and (max-width: 800px) {
  .hamburger {
    display: block; } }

section {
  width: 100%; }

.section-pic {
  width: 100%;
  height: 850px; }

.secpic {
  -o-object-fit: cover;
     object-fit: cover; }

.hide {
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0; }

.hide:hover {
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 1; }

.button {
  width: 8.5%;
  height: 253px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  outline: none;
  position: relative;
  z-index: 2;
  color: #fff;
  line-height: 50px;
  -webkit-perspective: 300px;
  perspective: 300px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d; }

.button a {
  text-decoration: none; }

.button p {
  color: #990303; }

.button::before, .button::after {
  position: absolute;
  z-index: -1;
  display: block;
  content: ''; }

.button, .button::before, .button::after {
  box-sizing: border-box;
  -webkit-transition: all 3s;
  transition: all 3s; }

.button:hover {
  color: #333;
  background: #fff; }

.button::after {
  top: 0;
  left: 0;
  width: 100%;
  height: 253px;
  background: #990303;
  opacity: 0.3;
  -webkit-transform-origin: right bottom;
  transform-origin: right bottom;
  -webkit-transform: rotateY(0);
  transform: rotateY(0); }

.button:hover::after {
  -webkit-transform: rotateY(130deg);
  transform: rotateY(130deg);
  opacity: 1; }

main {
  display: -webkit-box;
  display: flex;
  border-top: solid 2px black;
  border-bottom: solid 2px black;
  margin-top: 50px;
  margin-bottom: 50px;
  padding-top: 50px;
  padding-bottom: 50px; }

aside {
  width: 10%;
  text-align: center; }

ul {
  position: -webkit-sticky;
  position: sticky;
  top: 0px; }

li {
  padding: 20px 0 20px 0; }

a:visited {
  color: #00000a; }

.fa-twitter:hover {
  color: #05ecec; }

.fa-facebook-square:hover {
  color: #0d40e7; }

.fa-instagram:hover {
  color: purple; }

.fa-line:hover {
  color: #13c213; }

.fa-snapchat-ghost:hover {
  color: #fafa0f; }

article {
  width: 90%;
  border-left: solid 2px black;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: center;
          align-items: center; }

.article-content {
  width: 90%;
  height: 400px;
  background-color: #00000a;
  border-bottom: solid 1px white;
  display: -webkit-box;
  display: flex;
  justify-content: space-around;
  -webkit-box-align: center;
          align-items: center; }

.article-pic {
  width: 30%;
  height: 250px;
  overflow: hidden; }

.article-pic img {
  display: block;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s; }

.article-pic img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  opacity: 0.6; }

.article-p {
  width: 50%;
  height: 200px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  justify-content: space-around; }

.article-p h1 {
  font-family: serif;
  font-size: 40px;
  font-weight: bold;
  color: white; }

.article-p p {
  color: white;
  font-family: serif;
  line-height: 25px; }

#sample2 {
  margin-top: 15px; }

.bottom {
  width: 100%; }

.bottom:visited {
  color: white; }

.underline {
  display: inline-block;
  padding-bottom: 5px;
  position: relative; }

.underline::after {
  background-color: red;
  bottom: 0;
  content: "";
  display: block;
  height: 5px;
  left: 0;
  position: absolute;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  width: 100%; }

.underline:hover::after {
  width: 450%; }

.fade_off {
  opacity: 0;
  -webkit-transition: all 1s;
  transition: all 1s; }

.fade_on {
  opacity: 1; }

@media screen and (max-width: 1439px) {
  .anime {
    display: none; } }

@media screen and (max-width: 800px) {
  aside {
    display: none; }
  article {
    width: 100%;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-align: center;
            align-items: center;
    border-left: none; }
  .article-content {
    width: 90%;
    height: 650px;
    background-color: #00000a;
    border-bottom: solid 1px white;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    justify-content: space-around;
    -webkit-box-align: center;
            align-items: center; }
  .article-pic {
    width: 70%;
    height: 250px;
    overflow: hidden; }
  .article-p {
    width: 90%;
    height: 300px;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    justify-content: space-around; }
  .underline:hover::after {
    width: 315%; }
  #sample2 {
    margin-top: 0px; } }

/*# sourceMappingURL=style.css.map */
