section {
    width: 100%;
}

.section-pic {
    width: 100%;
    height: 850px;
}

.secpic {
    object-fit: cover;
}

.anime {
    width: 8.2%;
    height: 253px;
    transition: 3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.anime:hover {
    background-color: white;
}

.anime p {
    color: rgb(153, 3, 3);
    font-family: serif;
}

.anime a {
    text-decoration: none;
}

main {
    display: flex;
    border-top: solid 2px black;
    border-bottom: solid 2px black;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
}

aside {
    width: 10%;
    text-align: center;
}

ul {
    position: sticky;
    top: 0px;
}

li {
    padding: 20px 0 20px 0;
}

a:visited {
    color: $base-color;
}

.fa-twitter:hover {
    color: rgb(5, 236, 236);
}

.fa-facebook-square:hover {
    color: rgb(13, 64, 231);
}

.fa-instagram:hover {
    color: purple;
}

.fa-line:hover {
    color: rgb(19, 194, 19);
}

.fa-snapchat-ghost:hover {
    color: rgb(250, 250, 15);
}

article {
    width: 90%;
    border-left: solid 2px black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.article-content {
    width: 90%;
    height: 400px;
    background-color: $base-color;
    border-bottom: solid 1px white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.article-pic {
    width: 30%;
    height: 250px;
    overflow: hidden;
}

.article-pic img {
    display: block;
    transition-duration: 0.3s;
}

.article-pic img:hover {
    transform: scale(1.1);
    transition-duration: 0.3s;
    opacity: 0.6;
}

.article-p {
    width: 50%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.article-p h1 {
    font-family: serif;
    font-size: 40px;
    font-weight: bold;
    color: white;
}

.article-p p {
    color: white;
    font-family: serif;
    line-height: 25px;
}

#sample2 {
    margin-top: 15px;
}

.bottom {
    width: 100%;
}

.bottom:visited {
    color: white;
}

.underline {
    display: inline-block;
    padding-bottom: 5px;
    position: relative;
}

.underline::after {
    background-color: red;
    bottom: 0;
    content: "";
    display: block;
    height: 5px;
    left: 0;
    position: absolute;
    transition: 0.5s all;
    width: 100%;
}

.underline:hover::after {
    width: 450%;
}

.fade_off {
    opacity: 0;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -ms-transition: all 1s;
    transition: all 1s;
}

.fade_on {
    opacity: 1;
}

@media screen and (max-width: 1439px) {
    .anime {
        display: none;
    }
}

@media screen and (max-width: 800px) {
    aside {
        display: none;
    }

    article {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-left: none;
    }

    .article-content {
        width: 90%;
        height: 550px;
        background-color: $base-color;
        border-bottom: solid 1px white;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .article-pic {
        width: 70%;
        height: 250px;
        overflow: hidden;
    }

    .article-p {
        width: 90%;
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .underline:hover::after {
        width: 315%;
    }

    #sample2 {
        margin-top: 0px;
    }
}