footer {
    width: 100%;
    height: 230px;
    background-color: lightgray;
}

.footer-top {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ft-left {
    width: 27%;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ftl-box {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    h1 {
        font-size: 20px;
        font-family: serif;
        font-weight: bold;
        margin-bottom: 20px;
        text-decoration: underline red;
    }

    p {
        font-family: serif;
        margin: 5px 0 5px 0;
    }
}

.ftl-box p:hover {
    cursor: pointer;
    color: red;
}

.ftl-box p:visited {
    color: black;
}

.ftl-box a {
    text-decoration: none;
}

.ftl-box a:hover {
    color: red;
}

.ftl-box a:visited {
    color: black;
}

.ft-middle {
    width: 10%;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ft-forth {
    width: 23%;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ft-right {
    width: 10%;
    height: 155px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.scroll {
    width: 5%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.scroll:hover {
    color: red;
    cursor: pointer;
}

.footer-bottom {
    width: 100%;
    height: 30px;
    text-align: center;
    font-family: serif;
    border-top: solid 2px white;
    display: flex;
    align-items: center;
    justify-content: center;
}